/***************** BODY *****************/
body {
  font-family: "Roboto", "Raleway", "arial", sans-serif;
  color: getColor(text);
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  body {
    font-family: "Roboto", "Raleway", "arial", sans-serif;
    color: getColor(text);
    width: 768px;
    margin: 0px auto;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-family: "Roboto", "Raleway", "arial", sans-serif;
    color: getColor(text);
    width: 1600px;
    margin: 0px auto;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0px;
}

.none {
  display: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}
.footer__mail-tel:hover, .footer__mail-tel:focus, .gallery__overlay--visible, .customers__icon:hover, .customers__icon:focus, .filter__btn:hover, .filter__btn:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.statute__send-btn, .footer__btn, .order__button {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.14;
}

/***************** BTN ORDER *****************/
.order__button:hover, .order__button:focus {
  cursor: pointer;
}

/***************** BTN FOOTER *****************/
.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
  gap: 24px;
  margin: 0px;
  padding: 0px;
}
.footer__btn:hover, .footer__btn:focus {
  cursor: pointer;
}

/***************** BTN PORTFOLIO *****************/
.filter__btn {
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  line-height: 1.62;
  width: 121px;
  height: 38px;
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/***************** BTN MODAL *****************/
.statute__send-btn {
  letter-spacing: 0.06em;
  border: none;
  gap: 24px;
  margin-top: 30px;
  padding: 0px;
}
.statute__send-btn:hover {
  cursor: pointer;
}

/***************** BTN MENU *****************/
.menu-btn:hover,
:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-open-menu {
  display: contents;
}
.js-open-menu:hover,
.js-open-menu :focus {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu {
  display: contents;
  outline: none;
  border: none;
  background-color: #ffffff;
}
.js-close-menu:hover,
.js-close-menu :focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle :focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***************** ICONS *****************/
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons--white {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  fill: #afb1b8;
  margin-bottom: 24px;
}
.icons--white:hover, .icons--white:focus {
  fill: white;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons--black {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #afb1b8;
}
.icons--black:hover, .icons--black:focus {
  fill: #f5f4fa;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail-tel:hover, .footer__mail-tel:focus, .gallery__overlay--visible, .customers__icon:hover, .customers__icon:focus, .filter__btn:hover, .filter__btn:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***************** LOGO *****************/
.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.19;
  color: #2196f3;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}

.footer__mail-tel:hover, .footer__mail-tel:focus, .gallery__overlay--visible, .customers__icon:hover, .customers__icon:focus, .filter__btn:hover, .filter__btn:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***************** HEADER*****************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}
.header__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 93px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 227px 0px 215px;
    padding: 24px 0px 25px;
    border-bottom: 1px solid #ececec;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 46px;
    margin: 0;
  }
  .header__link {
    position: relative;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .header__link--current {
    color: #2196f3;
    position: relative;
  }
  .header__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    top: 46px;
    width: 53px;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .header__link:hover, .header__link:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 252px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    margin: 0;
  }
  .contact__mail-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.2;
    fill: #757575;
    gap: 10px;
  }
  .contact__mail-tel:hover, .contact__mail-tel:focus {
    color: #2196f3;
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 93px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 227px 0px 215px;
    padding: 24px 0px 25px;
    border-bottom: 1px solid #ececec;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 46px;
    margin: 0;
  }
  .header__link {
    position: relative;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .header__link--current {
    color: #2196f3;
    position: relative;
  }
  .header__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    top: 46px;
    width: 53px;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .header__link:hover, .header__link:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__svg {
    display: none;
  }
  .contact {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 252px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    margin: 0;
  }
  .contact__mail-tel {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.2;
    fill: #757575;
    gap: 10px;
  }
  .contact__mail-tel:hover, .contact__mail-tel:focus {
    color: #2196f3;
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/***************** ORDER-HEADER *****************/
.order {
  text-align: center;
  height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/Mobile/WorkMobile.png");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("/images/Mobile/WorkMobile.png");
}
.order__text {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  color: #ffffff;
  line-height: 1.36;
  padding-top: 118px;
  padding-bottom: 30px;
  margin: 0px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/Mobile/WorkMobile@2x.png");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("/images/Mobile/WorkMobile@2x.png");
    background-size: contain;
  }
}
/***************** OUR ADVANTAGES *****************/
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0px 15px 0px;
}
.description__icon {
  margin: 0;
  padding-top: 25px;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
}
.description__heading {
  text-align: center;
  color: var(secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
  margin-bottom: 10px;
}
.description__text {
  text-align: left;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0px;
}

/***************** OUR JOB *****************/
@media screen and (min-width: 320px) {
  .heading {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 30px;
    margin: 0px;
  }
  .our-job {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .heading {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px;
  }
  .our-job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin: 0px;
  }
  .our-job__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .our-job__text {
    position: absolute;
    bottom: 0%;
    margin: 0;
    width: 370px;
    height: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .heading {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px;
  }
  .our-job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin: 0px;
  }
  .our-job__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .our-job__text {
    position: absolute;
    bottom: 0%;
    margin: 0;
    width: 370px;
    height: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
  }
}
/***************** OUR TEAM *****************/
.team-background {
  padding-bottom: 108px;
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 0px;
}
.team__card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px;
}
.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 30px 30px 16px;
}
.team__role {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 10px;
  margin: 0px;
}

/***************** OUR CUSTOMERS *****************/
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.customers__icon {
  max-width: 210px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
}
.customers__icon:hover, .customers__icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

/***************** PORTFOLIO *****************/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  margin: 0px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__overlay {
  position: relative;
  overflow: hidden;
}
.gallery__overlay--visible {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  margin: 0px;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  padding: 49px 25px 29px 24px;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 400;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.gallery__info:hover .gallery__overlay--visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery__info:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.gallery__description {
  font-weight: 700;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.gallery__class {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 0px;
  padding-top: 4px;
}

/***************** FOOTER *****************/
.footer {
  background-color: #2f303a;
  padding: 57px 0px 63px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  margin: 0;
}
.footer__adress {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  padding-top: 20px;
  margin: 0;
}
.footer__mail-tel {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-tel:hover, .footer__mail-tel:focus {
  color: #2196f3;
  cursor: pointer;
}
.footer__join {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0px;
  letter-spacing: 0.03em;
}
.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  height: 156px;
  width: 100%;
}
.footer__input {
  min-width: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
}
.footer__svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/***************** MODAL *****************/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn-x {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__text {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 40px 40px 0;
  margin-bottom: 12px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 40px;
}
.form__label {
  max-width: 370px;
  color: #757575;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input {
  position: relative;
  max-width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.form__input:focus {
  border-color: #2196f3;
  outline: none;
}
.form__input:focus-within {
  border-color: #2196f3;
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}
.form__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 15px;
  top: 32px;
}
.form__comment {
  resize: none;
  max-width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000000;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__comment-label {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
}

.statute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 370px;
  margin: 20px 45px 0;
  padding: 0;
  cursor: pointer;
}
.statute__label {
  position: relative;
  left: 10px;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.statute__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.statute__label .statute__input:checked ~ .statute__check {
  background-color: #2196f3;
}
.statute__check {
  position: absolute;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border: 1px solid #2196f3;
  background-color: #ffffff;
  border-radius: 2px;
  left: -20px;
  top: 4px;
}
.statute__link {
  color: #2196f3;
  text-decoration: underline;
}

/***************** MOBILE MENU *****************/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.filter__btn:hover, .filter__btn:focus, .customers__icon:hover, .customers__icon:focus, .gallery__overlay--visible, .footer__mail-tel:hover, .footer__mail-tel:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */