:root {
  --text-color: #757575;
  --header-color: #212121;
  --selection-color: #2196f3;
  --background-color: #2f303a;
  --background-icon: #f5f4fa;
  --social-icon: #afb1b8;
}

body {
  font-family: "Roboto", "Raleway", "arial", sans-serif;
  color: var(--text-color);
  width: 1600px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/***************** HEADER *****************/

.page-header {
  display: flex;
  align-items: center;
  gap: 93px;
  justify-content: space-between;
  margin: 0px 227px 0px 215px;
  padding: 24px 0px 25px;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
  align-items: center;
  gap: 46px;
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  padding-left: 252px;
  column-gap: 30px;
  margin: 0;
}

.web {
  color: var(--selection-color);
}

.mail-tel {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  fill: var(--text-color);
  align-items: center;
  gap: 10px;
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--selection-color);
  fill: var(--selection-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***************** ORDER-HEADER *****************/

.header {
  width: 100%;
  text-align: center;
  padding: 200px 0px 200px;
}

.background-img {
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url("../images/work.jpg");
}

.header-text {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.36;
  padding-bottom: 30px;
  margin: 0px;
}

.button {
  background-color: var(--selection-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.14;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

/***************** OUR ADVANTAGES *****************/

.icon-description {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.group-1 {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  width: 270px;
  height: 120px;
  background-color: var(--background-icon);
}

.description {
  display: flex;
  gap: 30px;
  margin: 0px 15px 0px;
}

.description h3 {
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.description p {
  color: var(--text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
}

/***************** OUR JOB *****************/

.our-job {
  font-weight: 700;
  font-size: 36px;
  color: var(--header-color);
  text-align: center;
  margin: 94px 0px 50px;
}

.photo {
  display: flex;
  gap: 30px;
  margin: 0px;
  justify-content: center;
}

.img-job-box {
  display: flex;
  position: relative;
}

.img-job {
  position: absolute;
  bottom: 0%;
  margin: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 27px;
}

/***************** OUR TEAM *****************/

figure {
  margin: 0px;
}

.team-background {
  background-color: #f5f4fa;
}

.team {
  color: var(--header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

.photo-team {
  display: flex;
  gap: 30px;
  margin: 0px;
  justify-content: center;
}

.card-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--header-color);
  line-height: 1.19;
  text-align: center;
  padding: 30px 30px 16px;
}

.team-name > pre {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.19;
  padding-top: 10px;
  margin: 0px;
}

.social-flex {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.social {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  fill: var(--social-icon);
}

.social:hover,
.social:focus {
  fill: var(--background-icon);
  background-color: #2196f3;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***************** OUR CUSTOMERS *****************/

.our-customers {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin: 0px;
  padding-bottom: 50px;
}

.customers-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customers {
  width: 170px;
  height: 92px;
  align-items: center;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  fill: var(--social-icon);
}

.customers:hover,
.customers:focus {
  fill: var(--selection-color);
  border: 1px solid var(--selection-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link-current {
  color: var(--selection-color);
  position: relative;
}

.link-current::after {
  position: absolute;
  left: 0px;
  top: 46px;
  content: "";
  width: 53px;
  height: 4px;
  background: var(--selection-color);
  border-radius: 2px;
}

.link:hover,
.link:focus {
  color: var(--selection-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/***************** FOOTER *****************/

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.19;
}
.logo-footer {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.19;
  padding-left: 15px;
}

footer {
  background-color: var(--background-color);
  padding: 60px 0px;
}

.flex-footer {
  display: flex;
  gap: 70px;
}

.footer-dis {
  margin: 0px;
  padding-left: 15px;
  padding-bottom: 9px;
}

.mail-tel-footer {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.mail-tel-footer:hover,
.mail-tel-footer:focus {
  color: var(--selection-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-size: 14 px;
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
  padding-top: 20px;
  margin: 0px;
}

.contact-bottom {
  margin: 0px;
  padding: 0px;
}

.join {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.newsletter {
  display: flex;
}

.input-footer {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: #ffffff99;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  margin-right: 12px;
}

.sign-in {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: flex-end;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  gap: 24px;
  margin: 0px;
  padding: 0px;
}

.sign-in:hover,
.sign-in:focus {
  cursor: pointer;
}

.svg-fly {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/***************** PORTFOLIO *****************/

.button-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 0px;
}

.button-portfolio {
  font-family: "Roboto";
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  width: 121px;
  height: 38px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--selection-color);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin: 0px;
  gap: 30px;
  justify-content: center;
}

.photo-info:hover .overlay {
  transform: translateY(0);
}

.photo-info:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.photo-info-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  margin: 0px;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  padding: 49px 25px 29px 24px;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 400;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-description {
  font-weight: bold;
  color: var(--header-color);
  font-size: 18 px;
  line-height: 2;
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.photo-description > pre {
  font-family: "Roboto";
  font-weight: normal;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  margin: 0px;
  padding-top: 4px;
}

/***************** MODAL *****************/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.x {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px;
}

.form input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
}

.form textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000000;
}

.form input:focus-within {
  border-color: var(--selection-color);
}

.form-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 0px;
  top: 31px;
  left: 12px;
}

.form-icon1 {
  position: absolute;
  width: 13px;
  height: 13px;
  margin: 0px;
  top: 42px;
  left: 12px;
}

.form-icon2 {
  position: absolute;
  width: 15px;
  height: 12px;
  margin: 0px;
  top: 42px;
  left: 11px;
}

.name {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 0px;
  padding-bottom: 4px;
}
.tel {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 4px;
}
.email {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 4px;
}
.comment-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 4px;
}

.comment {
  resize: none;
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.statute {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;
  padding: 0;
  cursor: pointer;
}

.statute-check {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.statute-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check {
  position: absolute;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border: 1px solid var(--selection-color);
  background-color: #ffffff);
  border-radius: 2px;
  left: -24px;
  top: 4px;
}

.statute-check:hover input ~ .check {
  background-color: var(--selection-color);;
}

.statute-check input:checked ~ .check {
  background-color: var(--selection-color);
}

.statute a {
  color: var(--selection-color);
  text-decoration: underline;
}

.send {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: flex-end;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  gap: 24px;
  margin: 30px 164px;
  padding: 0px;
}

.send:hover {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
