:root {
  --text-color: #757575;
  --header-color: #212121;
  --selection-color: #2196f3;
  --background-color: #2f303a;
}

body {
  font-family: "Roboto", "Raleway", "arial", sans-serif;
  color: var(--text-color);
  width: 1600px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  align-items: center;
  gap: 93px;
  justify-content: space-between;
  margin: 0px 227px 0px 215px;
  padding: 24px 0px 25px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 46px;
}

.contact {
  display: flex;
  align-items: center;
  padding-left: 279px;
  column-gap: 50px;
}

.web {
  color: var(--selection-color);
}

.mail-tel {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--selection-color);
  cursor: pointer;
}

.header {
  background-color: var(--background-color);
  width: 100%;
  text-align: center;
  padding: 200px 0px 200px;
}

.header-text {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.36;
  padding-bottom: 30px;
  margin: 0px;
}

.button {
  background-color: var(--selection-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.14;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.description {
  display: flex;
  gap: 30px;
  margin: 0px;
}

.description h3 {
  color: var(--header-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  margin: 0px;
  padding-bottom: 10px;
}

.description p {
  color: var(--text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
}

.our-job {
  font-weight: 700;
  font-size: 36px;
  color: var(--header-color);
  text-align: center;
  margin: 94px 0px 50px;
}

.photo {
  display: flex;
  gap: 30px;
  margin: 0px;
  justify-content: center;
}

figure {
  margin: 0px;
}

.team-background {
  background-color: #f5f4fa;
}

.team {
  color: var(--header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

.photo-team {
  display: flex;
  gap: 30px;
  margin: 0px;
  justify-content: center;
}

figure {
  margin: 0px;
}

.card-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--header-color);
  line-height: 1.19;
  text-align: center;
  padding: 30px;
}

.team-name > pre {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.19;
  padding-top: 10px;
  margin: 0px;
}

.link {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link-current {
  color: var(--selection-color);
}

.link:hover,
.link:focus {
  color: var(--selection-color);
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.19;
}
.logo-footer {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.19;
  padding-left: 15px;
}

footer {
  background-color: var(--background-color);
  padding: 60px 0px;
}

.footer-dis {
  margin: 0px;
  padding-left: 15px;
  padding-bottom: 9px;
}

.mail-tel-footer {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.mail-tel-footer:hover,
.mail-tel-footer:focus {
  color: var(--selection-color);
  cursor: pointer;
}

.address {
  font-size: 14 px;
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
  padding-top: 20px;
  margin: 0px;
}

.contact-bottom {
  margin: 0px;
  padding: 0px;
}

/*           PORTFOLIO                     */

.button-portfolio {
  font-family: "Roboto";
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  width: 121px;
  height: 38px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--selection-color);
  color: #ffffff;
  cursor: pointer;
}

.photo-description {
  font-weight: bold;
  color: var(--header-color);
  font-size: 18 px;
  line-height: 2;
}

.photo-description > pre {
  font-family: "Roboto";
  font-weight: normal;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
