:root {
  --text-color: #757575;
  --header-color: #212121;
  --selection-color: #2196f3;
  --background-color: #2f303a;
}

body {
  font-family: "Roboto", "Raleway", "arial", sans-serif;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

footer {
  background-color: var(--background-color);
}

.header {
  width: 1600px;
  height: 600px;
  text-align: center;
  font-weight: 900;
  font-size: 48px;
  color: #ffffff;
  background-color: var(--background-color);
  line-height: 1.36;
}

.description {
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
}

.description p {
  color: var(--text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.description h2 {
  font-weight: 700;
  font-size: 36px;
  color: var(--header-color);
}

.team {
  color: var(--header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--header-color);
  line-height: 1.19;
}

.team-name > pre {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.19;
}

.button-portfolio {
  font-family: "Roboto";
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  width: 121px;
  height: 38px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--selection-color);
  color: #ffffff;
  cursor: pointer;
}

.button {
  background-color: var(--selection-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.14;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link-current {
  color: var(--selection-color);
}

.link:hover,
.link:focus {
  color: var(--selection-color);
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.19;
}
.logo-footer {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.19;
}
.web {
  color: var(--selection-color);
}

.mail-tel {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--selection-color);
  cursor: pointer;
}

.mail-tel-footer {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.mail-tel-footer:hover,
.mail-tel-footer:focus {
  color: var(--selection-color);
  cursor: pointer;
}

.address {
  font-size: 14 px;
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.photo-description {
  font-weight: bold;
  color: var(--header-color);
  font-size: 18 px;
  line-height: 2;
}

.photo-description > pre {
  font-family: "Roboto";
  font-weight: normal;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
